// colors
$white: #FFFFFF;
$blue_mask: #252B49;
$blue_contacts: #353C65;
$blue_footer: #2C3154;
$blue_socmedia: #4267b2;
$blue_logo: #656980;
$grey_line: #BABBC5;
$grey_text: #6C7279;
$grey_socmedia: #C6CBCD;
$grey_footer: #808080;
$red: #FF4343;
$red_light: #E71414;
$red_deep: #B90C0C;
$black_h3: #2D3033;
$black: #000000;
$velvet_bg: #5C3249;
$velvet_dots: #7E5D6F;



// font-size
$_64px: 4rem;
$_56px: 3.5rem;
$_48px: 3rem;
$_42px: 2.625rem;
$_40px: 2.5rem;
$_38px: 2.375rem;
$_32px: 2rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_28px: 1.75rem;
$_26px: 1.625rem;
$_24px: 1.5rem;
$_22px: 1,375;
$_20px: 1,25;
$_18px: 1.125rem;
$_16px: 1rem;
$_14px: 0.875rem;
$_13px: 0.8125rem;
$_12px: 0.5rem;
